.obr{
    width: 100%;
    background-color: rgba(175, 255, 172, 0.534);
    z-index: 0;
}
.slide{
    position: relative;

    width: 100%;
    z-index: 1;
}
main{
    display: flex;

}
.stred{
    width: 75%;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.obsah{
    background-color: rgb(247, 255, 245);
    border-radius: 10px;
    padding: 30px;
    margin: 20px;
    
}
.stred h1 {
    font-family: sans-serif;
}
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 10px;
    background-color:rgb(166, 206, 147);
}
.novinky{
    display: flex;
    background-color: azure;
    border-radius: 10px;
    margin-top: 30px;
    padding: 10px;
    gap: 10px;
}
.aktu {
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(247, 255, 245);
    border-radius: 10px;
    margin: 20px;
    width: -webkit-fill-available;
}


.bruh{
    background-color: rgba(205, 216, 203, 0.137);
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}
.bruh a{
    color: black;
}
@media screen and (max-width: 768px) { /* mobil */
    .slide{
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    .banner{
        padding: 0%;
    }
    .obsah{
        background-color: rgb(234, 253, 230);
    }
    .aktu{
        background-color: rgb(234, 253, 230);
    }

}
@media screen and (max-width: 1260px) {
    .banner{
        visibility: hidden;
        width: 0px;
    }
    .stred{
        width: 100%;
    }
}