.obr{
    width: 100%;
    background-color: rgba(175, 255, 172, 0.534);
    z-index: 0;
}
.slide{
    position: relative;

    width: 100%;
    z-index: 1;
}
main{
    display: flex;

}
.stred{
    width: 80%;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}
.stred h1 {
    font-family: sans-serif;
}
.banner{
    width: 20%;
}
@media screen and (max-width: 768px) { /* mobil */
    .slide{
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    .banner{
        visibility: hidden;
        width: 0px;
    }
    .stred{
        width: 100%;
    }
}