body{
    margin: 0px;
}
header{
    min-width: 358px;
}
nav{
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(168,188,132);
    justify-content: space-between;
    height: 80px;
    align-items: center;
    min-height: 80px;
    max-height: 160px;
}

.odkazy{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 40px;
    min-width: 570px;
    max-width: 1000px;
    width: 100%;
    height: 100%;
}
@media  screen and (max-width: 1050px) and (min-width: 700px) {
    nav{

        height: 160px;
        
    }

}
@media screen and (max-width: 700px) {
    .odkazy a{
        visibility: hidden;
        width: 0px;
        min-width: 0px;
    }
    nav{
        height: 80px;
    }
    .odkazy{
        width: 0px;
        min-width: 0px;
    }

    #logo{
        width: 200px;
        height: 60px;
        display: block;
    }

}

.search{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    width: 177px;
    height: 40px;
    padding: 10px;
}

.odkazy a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: larger;
    font-family: sans-serif;
    color: white;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    height: 100%;
    width: 20%;
    min-width: 160px;
}

.odkazy a:hover{
    background-color: rgb(126, 155, 72);
}