body{
    margin: 0px;
    background-color: rgb(234, 253, 230);
}

main{
    min-height: 100vh;
}

header{
    min-width: 200px;
}
nav{
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(168,188,132);
    justify-content: space-around;
    height: 80px;
    align-items: center;
    min-height: 80px;
    max-height: 160px;
    width: 100%;
}

.mobile_UI{
    height: 0px;
    width: 0px;
    visibility: collapse;
}

.odkazy{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 40px;
    min-width: 570px;
    max-width: 1000px;
    height: 100%;
}
.blok{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 40px;
    font-family: sans-serif;
}
.blok ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.blok ul li:hover{
    text-decoration: underline;
}
.blok a{
    text-decoration: none;
    color: black;
}

footer{
    display: flex;
    justify-content: space-around;
    background-color: rgba(168,188,132);
    min-height: 300px;
    width: 100%;
}



.search{
    max-width: 170px;
    max-height: 15px;
    padding: 10px;
    margin-left: 20px;
}
input.search{
    border-style: none;
    border-radius: 5px;
}

.odkazy a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: larger;
    font-family: sans-serif;
    color: white;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    height: 80px;
    width: 20%;
    min-width: 160px;
    transition: background-color 0.3s ease-in-out;
}

.odkazy a:hover{
    background-color: rgb(126, 155, 72);
}
.dropdown-menu{
    width: 50vw;
    background-color: white;
    align-items: center;
    align-self: center;
    display: flex;
    background-color: white;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 2px;
}
.dropdown-menu a{
    display: flex;
    background-color: rgb(126, 155, 72);
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: larger;
    font-family: sans-serif;
    color: white;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
    height: 80px;
    width: 100vw;
}
#dropdown{
    position: fixed;
    background-color: rgb(126, 155, 72);
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
}
.zastav{
    height: 100%;
    overflow: hidden;
}
.hamba{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0px;
    width: 0px;
    height: 0px;
    background: transparent;
    border: none !important;
}

@media screen and (max-width: 1063px) and (min-width: 700px) {
    nav{
        height: 160px;
    }

}
@media screen and (max-width: 768px) {    /* mobil */
    
    .odkazy a{
        visibility: hidden;
        width: 0px;
        min-width: 0px;
        margin: 0px;
    }
    nav{
        height: 10vh;
        display: flex;
        justify-content: space-around;
    }
    .odkazy{
        width: 0px;
        min-width: 0px;
        
    }

    #logo{
        width: 200px;
        height: 60px;
        display: block;
    }
    .hamba{
        width: 70px;
        height: 70px;
    }
    .mobile_UI{
        visibility: inherit;
        width: 70px;
        height: 70px;
    }
    footer{
        flex-direction: column;
        height: 90vh;
    }
    .blok{
        padding: 20px;
    }
}